@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
	font-family: "Digital 7";
	src: url("/public/DSEG7Classic-Bold.woff2") format("woff2");
}

* {
	box-sizing: border-box;
	user-select: none;
	outline: 0;
	margin: 0;
	padding: 0;
	gap: 0;
	box-sizing: 0;
	font-optical-sizing: auto;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth !important;
	-webkit-font-smoothing: antialiased;
	-webkit-font-highlight-color: transparent;
	overflow: hidden;
}

html {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 1.0);
}

body {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	color: rgba(200, 200, 200, 1.0);
}

line {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
}

line item {
	display: flex;
	flex-direction: column;
}

line item title {
	display: flex;
	font-family: "MontSerrat";
	font-size: 4.5vw;
	font-weight: 700;
	padding-left: 1.5vw;
}

line item value {
	display: flex;
	font-family: "Digital 7";
	font-size: 21vw;
}

line item type {
	display: flex;
}

line item type name {
	display: flex;
	font-family: "MontSerrat";
	font-size: 7.5vw;
	font-weight: 700;
}