@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
	font-family: "Digital 7";
	src: url("/public/fonts/DSEG7Classic-Bold.woff2") format("woff2");
}

* {
	user-select: none;
	box-sizing: border-box;
	outline: 0;
	padding: 0;
	border: 0;
	margin: 0;
	gap: 0;
	flex-grow: 0;
	flex-shrink: 0;
	line-height: 1em;
	overflow: hidden;
}

html {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 1.0);
/*	background-color: rgba(255, 200, 140, 1.0);*/
/*	background-color: rgba(255, 180, 120, 1.0);*/
}

body {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
/*	color: rgba(255, 200, 150, 1.0);*/
	color: rgba(255, 160, 120, 1.0);
/*	background-color: rgba(60, 0, 0, 1.0);*/
/*	background-color: rgba(0, 0, 0, 1.0);*/
}

img#background {
	z-index: -1;
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

container {
	display: flex;
	max-height: 100%;
	max-width: 100%;
	gap: 24px;
	flex-direction: column;
	overflow: visible;
}

container calendar {
	display: flex;
	justify-content: space-between;
	overflow: visible;
}

container calendar date {
	display: flex;
	font-family: "Poppins";
	font-size: 45px;
	font-weight: 600;
	text-transform: uppercase;
	overflow: visible;
}

container clock {
	display: flex;
	justify-content: center;
}

container clock value {
	display: flex;
	font-family: "Digital 7";
	font-size: 150px;
}

container items {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	overflow: visible;
}

container items item {
	display: flex;
	gap: 12px;
	flex-direction: column;
	overflow: visible;
}

container items item name {
	display: flex;
	font-family: "Poppins";
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
	overflow: visible;
}

container items item value {
	display: flex;
	gap: 12px;
}

container items item value digital {
	display: flex;
	font-family: "Digital 7";
	font-size: 55px;
}

container items item value text {
	display: flex;
	font-family: "Poppins";
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}